<header>
    <h1>Welcome to KRAYON home assigment by Shlomi Masuri</h1>
  </header>
  
  <main>
    <div class="container">
      <h2>Assigment Description</h2>
      <p>
        At the Krayon platform, we can swap between two different tokens/coins. We
        are using Trade Execution with a 3rd provider to enable this feature. With
        trade execution, I can swap ETH to USDC for instance, and vice versa. In
        this home assignment, we want you to implement a little part of the logic
        that we have on our platform.
      </p>
  
      <h2>Contact Us</h2>
      <p>
        If you have any questions or inquiries, please feel free to contact me:
      </p>
      <p>Email: fcshlom@gmail.com</p>
      <p>Phone: 050-2339409</p>
  
      
      <app-button
        title="Open Trade Dialog"
        (action)="(openTradeDialog())"
      ></app-button>

    </div>
  </main>
  